/* Colors */
$color-primary: #fc732f;
$color-secondary: #5c524d;

$color-background: #ffffff;
$color-text: #212121;
$color-accent-light-1: #e5e5e5;
$color-accent-light-2: #d5d5d5;
$color-accent-dark: #757575;
$color-accent-green: #86eaae;

$color-success: #1a8f00;
$color-warning: #fae16d;
$color-danger: #dc0808;

/* Typography */
$font-size: 16px;
$font-family: 'Almarai', sans-serif;
$line-height: 1.6;

/* Breakpoints */
$breakpoint-desktop: 90rem;
$breakpoint-tablet: 48rem;
$breakpoint-mobile: 25.875rem;

/* Misc */
$container-padding: 9vw;